.homeView {
    display: flex;
    & > * {
        border: 1px solid black;
    }

    .leftHandMenu {
        padding: 20px;
    }

    .directories {
        flex: 1;
        padding: 20px;
    }

    .noteExplorer {
        flex: 1;
        padding: 20px;
    }
}
